/.DS_Store
/Ikinya_Joan_JSPredict
/Ikinya_Joan_JSPredict.zip
/Ikinya_Joan_JS_CreateVariables(2).js
/Ikinya_Joan_JS_CreateVariables(2).js.zip
/Ikinya_Joan_JS_CreateVariables.js.zip
/Ikinya_Joan_VS_Extensions.js
/Ikinya_Joan_VS_Extensions.js.zip
/Ikinya_LoopDLoop
/Ikinya_LoopDLoop.zip
/Ikinya_Operators_2_Code_Challenge
/Ikinya_Operators_2_Code_Challenge.zip
/Reversing_array.js
/code.js